.headerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px
}

.userContainer {
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 50px;
}
